<div class="main-container">
        <div class="welcome">
            <h2>Welcome, Paquito</h2>
        </div>
    <div class="stats-container">
        <div class="porcentaje">
            <div class="stat-box">
                <h6>+10%</h6>
                <p>savings compared/month</p>
                <span class="material-symbols-outlined">
                    monitoring
                </span>
            </div>
        </div>
        <div class="gastos-mes">
            <div class="stat-box">
            <h6>34</h6>
            <p>expenses this month</p>
            <span class="material-symbols-outlined">
                shopping_cart
            </span>
            </div>
        </div>
        <div class="cant-mes">
            <div class="stat-box">
                <h6>{{totalValue}}</h6>
                <p>total expent</p>
                <span class="material-symbols-outlined">
                    euro
                </span>
            </div>
        </div>
        <div class="cant-mas-gasto">
            <div class="stat-box">
                <h6>Food</h6>
                <p>highest spending</p>
                <span class="material-symbols-outlined">
                    sell
                </span>
            </div>
        </div>
    </div> 
    <!--FINAL STATS CONTAINER------------------------------------------------>
    <div class="graphic-container">
        <div class="barras-container">
            <canvas class="barras" id="barras" width="300" height="300"></canvas>
        </div>
        <div class="sector-container">
            <canvas class="sector" id="sector" width="400" height="400"></canvas>
        </div>
    </div> <!--LISTA CONTAINER------------------------------------------------------>
    <div class="list-title-cont">
            <div class="list-title">
                <h2>Recent Expenses</h2>
            </div>
            <!-- <div class="view-all">
                <button class="button-17" role="button">View All</button>
            </div> -->
            <div class="new-spend">
                <span (click)="createSpent()" class="material-symbols-outlined add-button" id="add-button" style="font-size: 38px">
                    add_circle
                </span>  
            </div>
        </div>
    <div class="list-container" *ngIf="check">
        <app-list-spents (newItemEvent)="updateItemList($event)" (popUpdate)="updateSpentCheck($event)" [spents]=data ></app-list-spents>
    </div>
    <app-new-spent *ngIf="newSpent"></app-new-spent>
    <app-update-spent [updateItemInfo]=updateSpent *ngIf="updateCheck"></app-update-spent>
</div>
