
<body>
   
    <div class="global-container">
        <div class="hedaer-conatiner action">
            <div class="company-logo">
                <div class="icon">
                    <img src="../../../assets/images/logo-line.png">
                </div>
                <div class="company-name">
                    <h1>SaveYourMoney</h1>
                </div>
                <div class="lan-container">
                    <div class="lan-icon">
                        <div class="dropdown" id="dropdown-lan2" onclick="hiddeLanDiv()">
                            <span class="material-symbols-outlined" style="font-size: 32px; font-weight: 300;">
                            language
                            </span>
                            <span class="material-symbols-outlined material-symbols-outlined-b" style="font-size: 32px">
                                expand_more
                            </span>
                        </div>
                        <div class="dropdown-lan-container hiddenLan" id="lista">
                             <ul class="dropdown-lan" >
                                <li class="lan-li"><a href="manager-gal.html"><img src="../images/gal.png" class="img-lan"></a></li>
                                <li class="lan-li"><a href="manager-es.html"><img src="../images/spain.png" class="img-lan"></a></li>
                            </ul>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="settings profile" onclick="menuToggle()">
                <img src="../../../assets/images/profile.png">
            </div>
            <div class="menu">
                <h3>Paquito Martínez</h3>
                <ul class="menu-ul">
                    <li>
                        <img src="../images/user-circle.svg"/><a href="../login-register/profile.html">My profile</a>
                    </li>
                    <li>
                        <img src="../images/edit.svg"/><a href="../login-register/edit-profile.html">Edit profile</a>
                    </li>
                    <li>
                        <img src="../images/arrow-left.svg"/><a href="../login-register/index.html">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <script>
            function menuToggle() {
                const toggleMenu = document.querySelector(".menu");
                toggleMenu.classList.toggle("active");
            }
        </script>
        <app-manage-spent></app-manage-spent>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="barras.js"></script>
    <script src="sector.js"></script>
    <script src="../login-register/index.js"></script>
    
</body>
