
<body>
   
    <div class="global-container">
        <div class="hedaer-conatiner action">
            <div class="company-logo">
                <div class="icon">
                    <img src="../../../assets/images/logo-line.png">
                </div>
                <div class="company-name">
                    <h1>SaveYourMoney</h1>
                </div>
                <div class="lan-container">
                    <div class="lan-icon">
                        <div class="dropdown" id="dropdown-lan2" onclick="hiddeLanDiv()">
                            <span class="material-symbols-outlined" style="font-size: 32px; font-weight: 300;">
                            language
                            </span>
                            <span class="material-symbols-outlined material-symbols-outlined-b" style="font-size: 32px">
                                expand_more
                            </span>
                        </div>
                        <div class="dropdown-lan-container hiddenLan" id="lista">
                             <ul class="dropdown-lan" >
                                <li class="lan-li"><a href="manager-gal.html"><img src="../images/gal.png" class="img-lan"></a></li>
                                <li class="lan-li"><a href="manager-es.html"><img src="../images/spain.png" class="img-lan"></a></li>
                            </ul>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="settings profile" onclick="menuToggle()">
                <img src="../../../assets/images/profile.png">
            </div>
            <div class="menu">
                <h3>Paquito Martínez</h3>
                <ul class="menu-ul">
                    <li>
                        <img src="../images/user-circle.svg"/><a href="../login-register/profile.html">My profile</a>
                    </li>
                    <li>
                        <img src="../images/edit.svg"/><a href="../login-register/edit-profile.html">Edit profile</a>
                    </li>
                    <li>
                        <img src="../images/arrow-left.svg"/><a href="../login-register/index.html">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <script>
            function menuToggle() {
                const toggleMenu = document.querySelector(".menu");
                toggleMenu.classList.toggle("active");
            }
        </script>
        <div class="main-container">
            <app-manage-spent *ngIf="newSpent"></app-manage-spent>
                <div class="welcome">
                    <h2>Welcome, Paquito</h2>
                </div>
            <div class="stats-container">
                <div class="porcentaje">
                    <div class="stat-box">
                        <h6>+10%</h6>
                        <p>savings compared/month</p>
                        <span class="material-symbols-outlined">
                            monitoring
                        </span>
                    </div>
                </div>
                <div class="gastos-mes">
                    <div class="stat-box">
                    <h6>34</h6>
                    <p>expenses this month</p>
                    <span class="material-symbols-outlined">
                        shopping_cart
                    </span>
                    </div>
                </div>
                <div class="cant-mes">
                    <div class="stat-box">
                        <h6>254</h6>
                        <p>total expent</p>
                        <span class="material-symbols-outlined">
                            euro
                        </span>
                    </div>
                </div>
                <div class="cant-mas-gasto">
                    <div class="stat-box">
                        <h6>Food</h6>
                        <p>highest spending</p>
                        <span class="material-symbols-outlined">
                            sell
                        </span>
                    </div>
                </div>
            </div> 
            <!--FINAL STATS CONTAINER------------------------------------------------>
            <div class="graphic-container">
                <div class="barras-container">
                    <canvas class="barras" id="barras" width="300" height="300"></canvas>
                </div>
                <div class="sector-container">
                    <canvas class="sector" id="sector" width="400" height="400"></canvas>
                </div>
            </div> <!--LISTA CONTAINER------------------------------------------------------>
            <div class="list-title-cont">
                    <div class="list-title">
                        <h2>Recent Expenses</h2>
                    </div>
                    <div class="view-all">
                        <button class="button-17" role="button">View All</button>
                    </div>
                    <div class="new-spend">
                        <span (click)="createSpent()" class="material-symbols-outlined add-button" id="add-button" style="font-size: 38px">
                            add_circle
                        </span>  
                    </div>
                </div>
            <div class="list-container">
                <div class="main-list" id="main-list-test">
                    <div class="row1">
                        <div class="row-name1">
                            <h2>Name</h2>
                        </div>
                        <div class="row-content1">
                            <ul>
                                <li>Zumo</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="row-name2">
                            <h2>Price</h2>
                        </div>
                        <div class="row-content2">
                            <ul>
                                <li>25$</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row3">
                        <div class="row-name3">
                            <h2>Date</h2>
                        </div>
                        <div class="row-content3">
                            <ul>
                                <li>25/06/22</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row4">
                        <div class="row-name4">
                            <h2>Category</h2>
                        </div>
                        <div class="row-content4">
                            <ul>
                                <li>Groceries</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row5">
                        <div class="row-name5">
                            <h2></h2>
                        </div>
                        <div class="row-content5">
                            <ul> <!--SPANS DE LOS ICONOS CRUD-->
                                <li><span class="material-symbols-outlined edit-button" style="font-size:25px">
                                    edit
                                    </span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="create-popup-cont hiddenCreate" id="2388">
                <h2>New Spend</h2>
                <form action="">
                    <div class="inputs-popup">
                        <input type="text" placeholder="Name" class="n-imput">
                        <input type="number" placeholder="Amount" class="num-imput">
                        <input type="date" placeholder="Date" class="d-imput">
                        <input type="text" placeholder="Select Category" name="category" list="categories" class="c-imput">
                            <datalist id="categories">
                                <option value="Food">
                                <option value="Clothes">
                            </datalist> 
                    </div>
                    <div class="buttons">
                        <button class="button-17 ok">Ok</button>
                        <button class="button-17 cancel">Cancel</button>
                    </div>
                </form>
            </div>
            <div class="create-popup-cont hiddenCreate edit-popup" id="2389">
                <h2>Edit Spend</h2>
                <form action="">
                    <div class="inputs-popup">
                        <input type="text" placeholder="Name" class="n-imput">
                        <input type="number" placeholder="Amount" class="num-imput">
                        <input type="date" placeholder="Date" class="d-imput">
                        <input type="text" placeholder="Select Category" name="category" list="categories" class="c-imput">
                            <datalist id="categories">
                                <option value="Food">
                                <option value="Clothes">
                            </datalist> 
                    </div>
                    <div class="buttons">
                        <button class="button-17 ok">Ok</button>
                        <button class="button-17 cancel">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="barras.js"></script>
    <script src="sector.js"></script>
    <script src="../login-register/index.js"></script>
    
</body>
