<div class="main-page">
    <form name="form" id="formulario" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="arrow-div">
            <a><span (click)="sendToParent(0)"class="material-symbols-rounded">arrow_back</span></a>
        </div>
        <div class="icon">
            <img src="../../../../assets/images/logo.png" class="logo-img">
        </div>
        <div class="inputs">
                <div class="email-div">
                    <div class="container">      
                        <div class="webflow-style-input">
                        <input name="email" class="email" type="email" placeholder="Email" [(ngModel)]="form.email" #email="ngModel" required>
                        </div>
                    </div> 
                </div>
        </div>
        <div class="buttons">
            <div class="sign-up-button">
                <button type="submit" class="button-17 button-colored" role="button">{{'buttons.BT2' | translate}}</button>
            </div>
        </div> 
    </form>
</div>