/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.stats-container {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.porcentaje {
    order: 0;
}

.gastos-mes {
    order: 1;
}

.cant-mes {
    order:2;
}

.cant-mas-gasto {
    order: 3;
}