<div class="stats-container">
    <div class="porcentaje">
        <div class="stat-box">
            <h6>+10%</h6>
            <p>savings compared/month</p>
            <span class="material-symbols-outlined">
                monitoring
            </span>
        </div>
    </div>
    <div class="gastos-mes">
        <div class="stat-box">
        <h6>34</h6>
        <p>expenses this month</p>
        <span class="material-symbols-outlined">
            shopping_cart
        </span>
        </div>
    </div>
    <div class="cant-mes">
        <div class="stat-box">
            <h6>254</h6>
            <p>total expent</p>
            <span class="material-symbols-outlined">
                euro
            </span>
        </div>
    </div>
    <div class="cant-mas-gasto">
        <div class="stat-box">
            <h6>Food</h6>
            <p>highest spending</p>
            <span class="material-symbols-outlined">
                sell
            </span>
        </div>
    </div>
</div> 